@using CandyBug.Areas.Admin.Models.EF;
@model List<Statistical>

@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê</h2>
<asp:Calendar id="calendar1" runat="server" Height="250px" Width="250px"></asp:Calendar>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã hóa đơn
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.maHoaDon }) |
            </td>
        </tr>
    }

</table>


