@model List<CandyBug.Areas.Admin.Model.EF.Statistical>

@{
    ViewBag.Title = "ThongKeByDate";
}

<h2>Thống Kê Theo Ngày</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().maHoaDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ngayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().trangThai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", new { @id = item.maHoaDon }) |
            </td>
        </tr>
    }

</table>
<div id="buttonLink">
    <button class="btn btn-danger"><a href="@Url.Action("Index", "Statistical", new { Area = "Admin"})">Quay lại</a></button>
</div>